.git
.gitignore
.github
.idea
.dockerignore
Dockerfile
compose.yml
compose.yaml
compose.override.yml
compose.override.yaml
__pycache__/
.ruff_cache/
.mypy_cache/
.pre-commit-config.yaml
Taskfile.yml
input/
